html {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
}

.Buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: #eedddd;

  position: relative;
  top: 150px;

  width: 300px;
  height: 100px;

  margin: 20px;

  font-size: 30px;
  color: #72446d;
  border: none;
}

.color {
  background: #e1c4c4;
}

.contentbox {
  width: 980px;
  height: 200px;
  background: lightgrey;

  position: relative;
  top: 150px;
  left: 230px;

  margin: 0;
}

.content {
  margin: 0;
  padding: 0;

  font-size: 50px;

  position: relative;
  top: 65px;
  left: 140px;
}
